
/* Left Side */

.left-side div{
    background: #DBC39B;
    height: 38px;
    border-radius: 10px;
}

.left-side input{
    background: #DBC39B;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
  
}
.left-side input:focus-within{
    color: black;
}

.left-side input::placeholder{
    color: black;
    opacity: 1;
}
.left-side input:focus{
    background:#DBC39B;
    outline: none;
}
.form-control:focus-within{
    border: none;
}


.left-side {
    /* background: #0D0C0C; */
    height: 400px;
}



.left-side input::after{
    background: black;
}

.circle-color{
    color: black;
}


/* Right Side */

.right-side{
    margin-top: 6px;
}
.right-side input::placeholder{
    color: black;
    opacity: 1;
}

.right-side div{
    background:#DBC39B ;
    height: 38px;
    border-radius: 10px;
}

.right-side input{
    background: #DBC39B;
    border: none;
    border-radius: 10px;
    color: white;
}
.right-side input:focus-within{
    color: black;
}
.right-side input:focus{
    outline: none;
}
.form-control:focus-within{
    border: none;
}



.right-side input::after{
    background: black;
}

.circle-color2{
    color:#0D0C0C;
}

.form-control:focus{
    box-shadow: none;
    background-color:transparent;
}

.left-side input[type="email"]{
    padding: 6px 12px;
}

/* Button */

.signin{
    width: 150px;
    padding: 10px 10px;
    background: #0D0C0C;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: all ease-in-out .3s;
    margin-bottom:80px
}

.signin:hover{
    background: #DBC39B;
}

.signin:focus{
    outline: none;
}